*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}


#summer{
    background-image: url(https://images.unsplash.com/photo-1578592311070-4fb73aec2d22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvcHBpbmclMjBtYWxsfGVufDB8MHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=500&q=60);
    height: 70vh;
    background-repeat: none;
    background-size: cover;
    
    #nav-head{
        padding-left: 4rem;
        padding-top: 1rem;
        button{
            color: white;
            padding: 3px 15px;
            border: 2px solid white;
        }
    
        .nav-bar {
            margin-left: 6rem;
            text-align: center;
            background-color: orange;
    
            li{
                a{
                color: white;
                font-weight: 500;
                text-decoration: none;
             }
            }
        }
    
    }

    #summer-text{
        width: inherit;
        height: 63vh;
        color: white;
        text-align: center;
        align-items: center;
        justify-content: center;
        .quote-logo{
            padding-left: 15px;
            border: 5px solid orangered;
            text-align: center;

            h1{
                font-size: 4rem;
            }
        }

        .saving{
            z-index: 10;
            span{
                position: relative;
                top: -20px;
                display: inline-block;
                font-size: 2.5rem;
            }
        }
    }
}


#tshirt-card{
    width: inherit;
    margin-top: -3px;
    .card{
        text-align: center;
        width: 50%;
        img{
            width: 40%;
        }
    }
}

.third-part{
    height: 500px;
    width: inherit;

        .first-child{
        width: 35%;
        height: 500px;
        background-color: red;
        background-image: url("https://images.unsplash.com/photo-1562157873-818bc0726f68?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
        background-size: cover;

    }

    .second-child{
        position: relative;
        height: 500px;
        width: 65%;
        background-color: cyan;
        background-image: url("https://images.unsplash.com/photo-1545292621-377089fbcbb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8dHNoaXJ0fGVufDB8MHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=1000&q=60");
        background-size: cover;

        .content{
            position: absolute;
            top: 40%;
            left: 10%;
            
        h1{
            color: white;

        }

        button{
            color: white;
            padding: 3px 15px;
            border: 2px solid white;
        }

        }
    }
    
    
}


.fourth-part{
    color: white;
    height: 500px;
    width: inherit;
    text-align: right;

        .first-child{
            position: relative;
            height: 500px;
            width: 65%;
            background-color: cyan;
            background-image: url("https://images.unsplash.com/photo-1491336477066-31156b5e4f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VpdHN8ZW58MHwwfDB8YmxhY2t8&auto=format&fit=crop&w=1000&q=60");
            background-size: cover;
    
            .content{
                position: absolute;
                top: 40%;
                right: 10%;
                
            h1{
                color: white;
    
            }
    
            button{
                color: white;
                padding: 3px 15px;
                border: 2px solid white;
            }


    }
   }
    .second-child{
        position: relative;
        width: 35%;
        height: 500px;
        background-color: red;
        background-image: url("https://images.unsplash.com/photo-1617113141296-d87e57763a44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHVyc2V8ZW58MHwwfDB8YmxhY2t8&auto=format&fit=crop&w=1000&q=60");
        background-size: cover;

        .content{
            position: absolute;
            right: 5%;
            top: 10%;

            .right-row{
                margin-top: 1rem;
            }
        }

    }
}


#popular-deals{
    text-transform: capitalize;
    h2{
        text-align:center;
    }
    #deal-container{

        .items{
            margin: 1.5rem;
            img{
                height: 250px;
                width: 200px;
            }
            a{
                color: black;
                font-weight: bold;
            }
        }
    }

}

#category{
    width: inherit;
    .items{
        margin: 2.5rem;
        img{
            width: 325px;
            height: 165px;
        }

        button{
            text-transform: uppercase;
            border: 2px solid black;
            padding: 8px 30px;
        }
    }
}

#cards{

    color: white;

    #delivery{
        margin-right: 2rem;
        position: relative;
        background-color: #48a3bf;
        width: 400px;
        height: 230px;  
        text-align: left;

        .content{
            padding-left: 1rem;
            .small{
                font-size: 10px;
                font-weight: bold;
            }
        }
    }


    #buy-now{
        margin-left: 5rem;
        width: 400px;
        height: 230px;
        position: relative;
        background-color: #db5252;
        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 2rem;
        }
    }
}


#mail-us{
    background-color: midnightblue;
    height: 60vh;
    width: inherit;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1607082350899-7e105aa886ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHNob3BwaW5nJTIwbWFsbHxlbnwwfDB8MHxibGFja3w%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    color: white;
    
    
    input{
        color: white;
        width: 350px;
        padding: 2px;
        padding-left: 1rem;
        border: 2px solid white;
        margin-right: 15px;
        background-color: transparent;
        border-radius: 5px;
    }

    button{
        background-color: #48a3bf;
        color: white;
        padding: 5px 15px;
        border-radius: 5px;
        }
}

#social-icons{
    color: white;
    background-color: #392d3b;
    height: 35vh;
    width: inherit;

    .icons{
        i{
            margin-left: 7px;
            font-size: 25px;
        }
        margin-bottom: .5rem;
    }

    h3{
        text-transform: none;
    }

}
